.container {
  display: flex;
  margin: 0;
}

.dismiss-button {
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  width: 30px;
  background: #fff;
}

.select {
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 9px;
  display: inline;
  background: #fff;
}
